@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import './reset.css';


@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v159/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjzaqkNCeE.woff2) format('woff2');
}

.icon {
  font-family: 'Material Symbols Rounded';
  font-size: 20px;
  line-height: 1;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' -25,
  'opsz' 20
}

#root {
  min-height: 100vh;
}

::selection {
  background: rgba(30, 136, 229, 0.2);
  color: #0f172a;
}
